# Data Collection Spitogatos Real Estate Athene Center

In [129]:
from urllib.request import urlopen as uReq
from bs4 import BeautifulSoup as soup
import requests
import pandas as pd
import math
import lxml.html as lh
from selenium import webdriver
import csv 
import time

In [224]:
driver = webdriver.Chrome()

In [151]:
#for_sale-homes
#to_rent-homes

### Sales of properties Athens-Center

In [162]:
sales_1 = [f'https://en.spitogatos.gr/for_sale-homes/athens-center/page_{i}' for i in range(200)]
sales_2 = [f'https://en.spitogatos.gr/for_sale-homes/athens-center/page_{i}' for i in range(200,400)]
sales_3 = [f'https://en.spitogatos.gr/for_sale-homes/athens-center/page_{i}' for i in range(400,600)]
sales_4 = [f'https://en.spitogatos.gr/for_sale-homes/athens-center/page_{i}' for i in range(600,800)]
sales_5 = [f'https://en.spitogatos.gr/for_sale-homes/athens-center/page_{i}' for i in range(800,1000)]
sales_6 = [f'https://en.spitogatos.gr/for_sale-homes/athens-center/page_{i}' for i in range(1000,1200)]
sales_7 = [f'https://en.spitogatos.gr/for_sale-homes/athens-center/page_{i}' for i in range(1200,1400)]
sales_8 = [f'https://en.spitogatos.gr/for_sale-homes/athens-center/page_{i}' for i in range(1400,1600)]
sales_9 = [f'https://en.spitogatos.gr/for_sale-homes/athens-center/page_{i}' for i in range(1600,1800)]
sales_10 = [f'https://en.spitogatos.gr/for_sale-homes/athens-center/page_{i}' for i in range(1800,2000)]
sales_11 = [f'https://en.spitogatos.gr/for_sale-homes/athens-center/page_{i}' for i in range(2000,2200)]
sales_12 = [f'https://en.spitogatos.gr/for_sale-homes/athens-center/page_{i}' for i in range(2200,2400)]
sales_13 = [f'https://en.spitogatos.gr/for_sale-homes/athens-center/page_{i}' for i in range(2400,2600)]
sales_14 = [f'https://en.spitogatos.gr/for_sale-homes/athens-center/page_{i}' for i in range(2600,2800)]
sales_15 = [f'https://en.spitogatos.gr/for_sale-homes/athens-center/page_{i}' for i in range(2800,3000)]
sales_16 = [f'https://en.spitogatos.gr/for_sale-homes/athens-center/page_{i}' for i in range(3000,3091)]

columns = ['Price','House ID','Square meters house','Number of Bedrooms','Location', 'Description']

In [163]:
#print(soup_object.prettify())

In [164]:
def sales_property(website, col):
    record = []
    for i in website:
        driver.get(i)
        soup_object = soup(driver.page_source, 'html.parser')
        details= soup_object.find_all("div", {"class": "margin-top-small"} ,  {"id": "searchDetailsListings"})
        list_1 = details[2].find_all("div", {"class":"searchListing_details__inner clearfix"})

        
        for item in list_1:
            try:
                #Price of house
                price = float(item.find('span',"text xbig bold padding-right").text.replace('€ ', '').replace(',',''))
                
                #Square meters house
                square_meter_house = float(item.find('span',"padding-right text medium").text.replace('\n','').replace('m2', ''))
                
                #Number of Bedrooms
                bedrooms = float(item.find('span',"text medium").text.replace('\n',' ').replace('bedrooms', '').replace('bedroom', ''))
                
                #Description
                description = item.find("div", {"class":"margin-bottom-small text color dark_grey show-screen"}).text.replace('\n',' ')
                
                #Location
                location = item.find("div", {"class":"text color dark_grey margin-bottom-small listingLocation"}).text
                
                #House ID
                id_home = item.find_all("a")
                id_house = id_home[1].get('href').split('/',4)[-1]
                
                
            
            except AttributeError:
                n = math.nan
                price = n
                square_meter_house = n
                bedrooms = n
                description = n
                location = n
                house_ID = n
    
            results = [price,id_house, square_meter_house, bedrooms, location, description]
            record.append(results)
       
    
    #time.sleep(10)
    
    
    df = pd.DataFrame(record, columns = col)
    df["price_per_sqrmeter"] = df["Price"] / df["Square meters house"]
    
    return df

In [165]:
#for_sale-homes
#to_rent-homes

# athens-south
# athens-center
# athens-north
# athens-west
# athens-east
# piraeus
# piraeus-suburbs
# rest-of-attica

In [168]:
df1 = sales_property(sales_1, columns)

In [171]:
df2 = sales_property(sales_2, columns)

In [178]:
df3 = sales_property(sales_3, columns)

In [182]:
df4 = sales_property(sales_4, columns)

In [185]:
df5 = sales_property(sales_5, columns)

In [189]:
df6 = sales_property(sales_6, columns)

In [193]:
df7 = sales_property(sales_7, columns)

In [197]:
df8 = sales_property(sales_8, columns)

In [201]:
df9 = sales_property(sales_9, columns)

In [204]:
df10 = sales_property(sales_10, columns)

In [208]:
df11 = sales_property(sales_11, columns)

In [211]:
df12 = sales_property(sales_12, columns)

In [214]:
df13 = sales_property(sales_13, columns)

In [217]:
df14 = sales_property(sales_14, columns)

In [222]:
df15 = sales_property(sales_15, columns)

In [227]:
df16 = sales_property(sales_16, columns)

In [228]:
df_list = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15, df16]
df = pd.concat(df_list)

In [229]:
df

,Price,House ID,Square meters house,Number of Bedrooms,Location,Description,price_per_sqrmeter
0,260000.0,119334690,98.0,3.0,Alsos Pagkratiou (Athens),28/12/2020 -,2653.061224
1,153000.0,119856718,64.0,2.0,Alsos Pagkratiou (Athens),28/12/2020 -,2390.625000
2,99000.0,1110163515,117.0,3.0,Osios Loukas (Athens),"28/12/2020 - Bedrooms (3),Floor (5th),Penthou...",846.153846
3,160000.0,1110476752,84.0,1.0,Gizi - Pedion Areos (Athens),"28/12/2020 - Athens, Gyzi, Maisonette For Sal...",1904.761905
4,320000.0,1110431028,163.0,4.0,Kato Ilisia (Athens),"28/12/2020 - Athens, Ilisia-Kato Ilisia, Floo...",1963.190184
...,...,...,...,...,...,...,...
851,36000.0,117724278,55.0,1.0,Kolonos (Kolonos - Kolokynthous),,654.545455
852,28000.0,#,45.0,2.0,Agios Thomas (Athens),20/7/2020 -,622.222222
853,60000.0,#,45.0,0.0,Agios Panteleimonas (Athens),22/11/2020 -,1333.333333
854,57000.0,1110096620,53.0,0.0,Kolonos - Kolokynthous (Athens - Center),25/8/2020 -,1075.471698
855,1300000.0,#,1170.0,0.0,Politechneio (Athens),"31/8/2020 - For sale 2nd,4th,5th,6th,8th floo...",1111.111111

In [239]:
df_sales = df[~df["House ID"].str.contains("#")].reset_index().drop(columns = 'index')

In [240]:
df_sales

,Price,House ID,Square meters house,Number of Bedrooms,Location,Description,price_per_sqrmeter
0,260000.0,119334690,98.0,3.0,Alsos Pagkratiou (Athens),28/12/2020 -,2653.061224
1,153000.0,119856718,64.0,2.0,Alsos Pagkratiou (Athens),28/12/2020 -,2390.625000
2,99000.0,1110163515,117.0,3.0,Osios Loukas (Athens),"28/12/2020 - Bedrooms (3),Floor (5th),Penthou...",846.153846
3,160000.0,1110476752,84.0,1.0,Gizi - Pedion Areos (Athens),"28/12/2020 - Athens, Gyzi, Maisonette For Sal...",1904.761905
4,320000.0,1110431028,163.0,4.0,Kato Ilisia (Athens),"28/12/2020 - Athens, Ilisia-Kato Ilisia, Floo...",1963.190184
...,...,...,...,...,...,...,...
30051,150000.0,1110542715,70.0,2.0,Ampelokipoi (Athens),13/12/2020 -,2142.857143
30052,100000.0,1110542722,20.0,0.0,Akropoli (Athens),13/12/2020 -,5000.000000
30053,700000.0,119476773,100.0,0.0,Sintagma (Athens),3/6/2020 -,7000.000000
30054,36000.0,117724278,55.0,1.0,Kolonos (Kolonos - Kolokynthous),,654.545455
30055,57000.0,1110096620,53.0,0.0,Kolonos - Kolokynthous (Athens - Center),25/8/2020 -,1075.471698

In [241]:
df_sales_athens_center = df_sales.to_excel("Spitogatos_Athens_Center_For_Sale.xlsx")

### Rents Athens-Center

In [113]:
rent_1 = [f'https://en.spitogatos.gr/to_rent-homes/athens-center/page_{i}' for i in range(100)]
rent_2 = [f'https://en.spitogatos.gr/to_rent-homes/athens-center/page_{i}' for i in range(100,200)]
rent_3 = [f'https://en.spitogatos.gr/to_rent-homes/athens-center/page_{i}' for i in range(200,300)]
rent_4 = [f'https://en.spitogatos.gr/to_rent-homes/athens-center/page_{i}' for i in range(300,400)]
rent_5 = [f'https://en.spitogatos.gr/to_rent-homes/athens-center/page_{i}' for i in range(400,500)]
rent_6 = [f'https://en.spitogatos.gr/to_rent-homes/athens-center/page_{i}' for i in range(500,600)]
rent_7 = [f'https://en.spitogatos.gr/to_rent-homes/athens-center/page_{i}' for i in range(600,700)]
rent_8 = [f'https://en.spitogatos.gr/to_rent-homes/athens-center/page_{i}' for i in range(700,716)]

columns_rents = ['Rent','House ID','Square meters house','Number of Bedrooms','Location', 'Description']

In [84]:
def rents(website, col):
    record = []
    for i in website:
        driver.get(i)
        soup_object = soup(driver.page_source, 'html.parser')
        details= soup_object.find_all("div", {"class": "margin-top-small"} ,  {"id": "searchDetailsListings"})
        list_1 = details[2].find_all("div", {"class":"searchListing_details__inner clearfix"})

        
        for item in list_1:
            try:
                #Price of house
                price = float(item.find('span',"text xbig bold padding-right").text.replace('€ ', '').replace(',','').replace('/month',''))
                
                #Square meters house
                square_meter_house = float(item.find('span',"padding-right text medium").text.replace('\n','').replace('m2', ''))
                
                #Number of Bedrooms
                bedrooms = float(item.find('span',"text medium").text.replace('\n',' ').replace('bedrooms', '').replace('bedroom', ''))
                
                #Description
                description = item.find("div", {"class":"margin-bottom-small text color dark_grey show-screen"}).text.replace('\n',' ')
                
                #Location
                location = item.find("div", {"class":"text color dark_grey margin-bottom-small listingLocation"}).text
                
                #House ID
                id_home = item.find_all("a")
                id_house = id_home[1].get('href').split('/',4)[-1]
                
                
            
            except AttributeError:
                n = math.nan
                price = n
                square_meter_house = n
                bedrooms = n
                description = n
                location = n
                house_ID = n
    
            results = [price,id_house, square_meter_house, bedrooms, location, description]
            record.append(results)
       
    
    #time.sleep(10)
    
    
    df = pd.DataFrame(record, columns = col)
    df["rent_per_sqrmeter"] = df["Rent"] / df["Square meters house"]
    
    return df

In [85]:
df_rents1 = rents(rent_1, columns_rents)

In [89]:
df_rents2 = rents(rent_2, columns_rents)

In [91]:
df_rents3 = rents(rent_3, columns_rents)

In [94]:
df_rents4 = rents(rent_4, columns_rents)

In [98]:
df_rents5 = rents(rent_5, columns_rents)

In [108]:
df_rents6 = rents(rent_6, columns_rents)

In [110]:
df_rents7 = rents(rent_7, columns_rents)

In [114]:
df_rents8 = rents(rent_8, columns_rents)

In [118]:
df_list2 = [df_rents1, df_rents2, df_rents3, df_rents4, df_rents5, df_rents6, df_rents7, df_rents8]

In [233]:
df_rents2 = pd.concat(df_list2).reset_index().drop(columns = ['index'])

In [235]:
df_rents_athens_center_complete = df_rents2.to_excel("Spitogatos_Athens_Center_Rent_complete.xlsx")

In [126]:
df_rents = df2[~df2["House ID"].str.contains("#")].reset_index()

In [232]:
df_rents

,index,Rent,House ID,Square meters house,Number of Bedrooms,Location,Description,rent_per_sqrmeter
0,0,450.0,2110520439,45.0,1.0,Kato Ilisia (Athens),24/12/2020 -,10.000000
1,1,450.0,2110511404,72.0,1.0,Exarcheia (Athens),24/12/2020 -,6.250000
2,2,430.0,2110532949,48.0,1.0,Ampelokipoi (Athens),24/12/2020 -,8.958333
3,3,590.0,2110489898,67.0,2.0,Panormou (Athens),24/12/2020 -,8.805970
4,4,680.0,2110495901,75.0,2.0,Koukaki - Pediki Chara (Koukaki - Makrygianni),24/12/2020 -,9.066667
...,...,...,...,...,...,...,...,...
5922,7113,300.0,2110275204,30.0,1.0,Pagkrati (Athens),10/11/2020 -,10.000000
5923,7127,700.0,2110306703,163.0,4.0,Exarchia - Neapoli (Athens),19/10/2020 -,4.294479
5924,7133,6700.0,2110039345,1380.0,0.0,Kentro (Athens),24/12/2020 -,4.855072
5925,7146,900.0,219392814,100.0,3.0,Pagkrati (Athens),23/11/2020 -,9.000000
5926,7148,250.0,2110533124,30.0,0.0,Kentro (Athens),16/12/2020 -,8.333333

In [127]:
df_rents_athens_center = df_rents.to_excel("Spitogatos_Athens_Center_Rent.xlsx")